/* everything that is reusable – buttons, navbars, cards, and so on */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

img {
  height: auto;
  &#got-map {
    position: absolute;
    top: 0;
    left: 0;
  }
  &#stark-house-sigil {
    position: absolute;
    top: 0;
    left: 0;
  }
  &#got-logo {
    position: absolute;
    top: 10px;
    left: 200px;
  }
}

a {
  .img-box {
    opacity: 0.5;
    transition: box-shadow 1s;
    width: 80px;
    height: 90px;
    overflow: hidden;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    img {
      width: 80px;
      height: 100px;
    }
  }
  .img-box:hover {
    opacity: 1;
    box-shadow: 10px 20px 30px gray;
  }
  .img-box:hover:after {
    opacity: 0.9;
  }
}
