/* everything that is reusable – buttons, navbars, cards, and so on */

@import "_base.scss";
@import "_layout.scss";

.map-container {
  position: relative;
  img {
    &#got-map {
      top: 0%;
      left: 0%;
      width: max-content;
      height: auto;
    }
  }

  .map-body {
    img {
      &#got-logo {
        position: absolute;
        z-index: 2;
        top: -60px;
        left: 1000px;
      }
    }
  }
}

.button-sigil {
  position: absolute;
  z-index: 3;
  width: $imgWidth + 5px;
  height: $imgWidth + 20px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: $imgWidth $imgWidth + 10px;
  margin: 0px;
  overflow: hidden;
  border: none;
  cursor: pointer;
  background: round;
}

.house-name {
  position: absolute;
  z-index: 3;
}

#side-container {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 300px;
  background: #2f2f2f;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  z-index: 4;
  transition: width 0.1s;

  &close-btn {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  &close-btn:hover {
    color: #f1f1f1;
  }

  &.close-btn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
}
